{
    "Token": "1d2a74761eb9d6a3d46662a106d9079a44216bd6e1588c37d91f7ff523564c9a693fe6c47ea2489fc680d",
    "Trigger": "!лог",
    "WhiteListChat": [],
    "TriggerToAddChat": "!включить",
    "TriggerShowChats" : "!все чаты"
}
